.App{
  min-height: 100vh;
 

}

.App h2{
  text-align: center;
}
.main{
min-height: 90vh;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
padding: 20;
}
.loading{
  text-align: center;
}