
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Dosis&family=Mr+Dafoe&family=Noto+Sans+Tagbanwa&family=Pacifico&family=Press+Start+2P&family=Sacramento&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Dosis&family=Mr+Dafoe&family=Noto+Sans+Tagbanwa&family=Pacifico&family=Press+Start+2P&family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}